
!lib
!tests/vixc0/*.ll
# Debug symbols
# LLVM IR
# Object files
# Rubbish Vix File
# Target specific
# Windows specific
*.a
*.d
*.egg-info
*.elf
*.exe
*.gch
*.ll
*.log
*.o
*.obj
*.out
*.pch
*.pdb
*.pyc
*.spec
./*.vix
.VSCodeCounter
.cache
.kilo
.pytest_cache
.python-version
.venv
.vscode
CMakeCache.txt
CMakeFiles
RELEASE.md
__pycache__
build
dist
examples/owner_errors
tag.sh
uv.lock
venv
